@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin-ext,latin);

body {
	font-family: 'Source Sans Pro', sans-serif;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}


.header {
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	background-color: black;
	color: white;
	font-weight: 600;
	padding-left: 20px;
}

.container {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.sectionTitle {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-top: 50px;
	text-transform: uppercase;
}

.lifeEvent {
	padding-left: 170px;
	position: relative;
	font-size: 16px;
	max-width: 900px;
}

.lifeEvent:hover .eventDate, .lifeEvent:hover .eventTitle, .lifeEvent:hover .eventPosition {
	font-weight: 700 !important;
}

.eventDate {
	position: absolute;
	top: 0px;
	left: 0px;
	color: #666;
	font-weight: 600;
	text-align: right;
	width: 150px;
	font-size: 14px;
}

.eventDate div {
	right: 0;
}

.eventDate .duration {
	font-size: 13px;
	font-weight: normal;
	padding-right: 10px;
}

.eventData {
	border-left: 4px solid #E9E9E9;
	padding-left: 20px;
	position: relative;
	padding-bottom: 20px;
	min-height: 60px;
}

.timelineDot {
	position: absolute;
	top: -2px;
	left: -14px;
	border-radius: 100%;
	width: 13px;
	height: 13px;
	border: 5px solid white;
}

.timelineDot div {
	border: 7px solid red;
	border-radius: 100%;
}

.eventTitle {
	font-weight: 600;
	cursor: pointer;
}

.eventPosition {
	font-weight: 600;
	float: left;
	cursor: pointer;
}

.eventDescription {
	float: left;
	color: #666;
	margin-left: 5px;
}

.eventLongDescription {
	display: none;
	font-size: 14px;
	padding-top: 10px;
}

.clear {
	clear: both;
}

.orange .timelineDot div {
	border-color: #FFB900;
}

.orange .eventPosition {
	color: #FFB900;
}

.orange .eventData {
	border-left: 4px solid #FFB900;
}

.red .timelineDot div {
	border-color: #F2383B;
}

.red .eventPosition {
	color: #F2383B;
}

.red .eventData {
	border-left: 4px solid #F2383B;
}

.green .timelineDot div {
	border-color: #98C917;
}

.green .eventPosition {
	color: #98C917;
}

.green .eventData {
	border-left: 4px solid #98C917;
}

.blue .timelineDot div {
	border-color: #2185C1;
}

.blue .eventPosition {
	color: #2185C1;
}

.blue .eventData {
	border-left: 4px solid #2185C1;
}

.purple .timelineDot div {
	border-color: #D4298F;
}

.purple .eventPosition {
	color: #D4298F;
}

.purple .eventData {
	border-left: 4px solid #D4298F;
}

.relevant {
	font-weight: bold;
}

.photo {
	height: 150px;
	margin-left: 20px;
	margin-top: 50px;
	float: left;
}

.summary {
	float: left;
	margin-left: 30px;
	margin-top: 50px;
	width: 750px;
	font-size: 14px;
}

.summary p {
	margin-top: 0;
	margin-bottom: 5px;
}

.social-icons {
	float: left;
	padding: 10px 0 0 30px;
}

.social-icons a, .social-icons a:visited {
	color: #888;
}

.facebook:hover {
	color: #3B5998 !important;
}


.linkedin:hover {
	color: #4875B4 !important;
}

.twitter:hover {
	color: #33CCFF !important;
}

.github:hover {
	color: #000 !important;
}

.email, .email:visited {
	color: #2185C1;
	text-decoration: none;
}

.email:hover {
	text-decoration: underline;
}

@media print {
	.lifeEvent {
		page-break-inside: avoid;
	}

	.eventLongDescription {
		display: block !important;
		height: auto !important;
	}

	.social-icons {
		display: none;
	}
}