@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body {
	background: url(../images/background.jpg) no-repeat;
	height: 1080px;
	color: #505050;
	font-size: 18px;
	font-family: Source Sans Pro;
	font-weight: 600;
	margin: 0;
	padding: 0;
	position: relative;
}

p {
	margin: 0;
	padding: 0;
}

a, a:hover, a:active {
	cursor: pointer;
	text-decoration: none;
	color: #505050;
}

.content {
	background-color: rgba(255,255,255,0.7);
	width: 420px;
	height: 720px;
	border-radius: 10px;
	box-shadow: 3px 0px 3px #CCC;
	padding : 30px;
	text-align: center;
	float: left;
}

.page {
	position: absolute;
	left: 50%;
	top: 120px;
}

#page1 {
	margin-left: -210px;
}

#page2 {
	margin-left: 3000px;
	width: 980px;
	display: none;
}

#screenshot {
	float: left;
	margin-left: 20px;
}

#welcomeText {
	position: absolute;
	top: 30px;
	left: 30px;
}

#welcomeText p {
	width: 80px;
	text-align: right;
}

#welcomeText p.to {
	width: 70px;
}

#welcomeText img {
	position: absolute;
	top: -50px;
	left: -35px;
}

#joinUsText {
	margin-top: 140px;
	margin-bottom: 30px;
}

#heart {
	position: absolute;
	top: -75px;
	left: 290px;
}

.clear {
	clear: both;
}

.inlineButton {
	margin: auto;
	width: 275px;
}

.inlineButton .button {
	float: left;
	width: 60px;
}

.inlineButton input {
	float: left;
	line-height: 25px;
	width: 195px;
	margin: 0;
	padding: 10px;
	border: 0;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
	background-color: rgba(216,224,229,0.7);
}

.button {
	height: 45px;
	line-height: 45px;
	width: 275px;
	border-radius: 5px;
	background-color: #505050;
	box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
	margin: auto;
	color: white;
	margin-bottom: 15px;
	font-weight: 100;
	cursor: pointer;
}

.button i {
	font-size: 26px;
	width: 40px;
	float: left;
	margin-top: 10px;
}

.bigText {
	font-size: 24px;
	font-weight: 600;
}

.downloadBox {
	border-top: 2px solid #909090;
	border-bottom: 2px solid #909090;
	margin-top: 35px;
	padding: 25px 0;
}

.downloadBox p {
	padding-bottom: 20px;
}

.feedbackBox {
	padding: 15px;
}

.feedbackBox a {
	display: block;
	margin-bottom: 5px;
}

.redText {
	color: #E02E45
}

#footer {
	position: absolute;
	color: #AAA;
	background-color: rgba(21,21,21,0.8);
	border-top: 3px solid #909090;
	bottom: 0px;
	font-size: 16px;
}

#footer .column {
	position: relative;
	float: left;
	width: 33%;
	margin: 30px 0;
}

#footer .borderColumn {
	border-right: 3px solid #909090;
	border-left: 3px solid #909090;
}

#footer .column p {
	display: block;
	padding: 0 50px;
}

#footer .facebookLink {
	display: block;
	position: absolute;
	bottom: -30px;
	right: 180px;
	font-size: 24px;
}

#footer .footerLogo {
	position: absolute;
	bottom: -40px;
	right: 60px;
	width: 120px;
	height: 60px;
}

#arrowLeft {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -74px;
	display: none;
}

#arrowRight {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -74px;
}

.bulletBox {
	border-bottom: 2px solid #909090;
	text-align: left;
	line-height: 25px;
	padding: 25px 0;
}

.bulletBox.first {
	margin-top: 110px;
}

.bulletBox.last {
	margin-bottom: 30px;
}

.bulletBox p {
	margin-left: 50px;
	position: relative;
}

.bullet {
	background: url(../images/bullet_flower.png);
	display: block;
	width: 106px;
	height: 106px;
	position: absolute;
	left: -80px;
	top: -40px;
}
